//
   Created by zxr on 2016/4/2.
extends layouts/layout
block content
    link(rel="stylesheet",href="./css/article.css")
    link(rel='stylesheet', href='./css/recent-mark.css')
    link(rel='stylesheet',href='./css/markdown.css')
    link(rel='stylesheet',href='./prism.css')
    script(src="./prism.js")
    body.lang-css
        nav#nav.nav-bar
            a.logo-img(href="/")
                img.logo(src="./imgs/logo.png")
            ul.nav
                li
                    a(href='/') 首页
                li
                    a(href='#') 全部文章
                li
                    a(href='#') 一起玩游戏
                li
                    a(href='#') 相册
                li
                    a(href='/login') 管理
                li.github
                    a.icon-github(href='https://github.com/jabbla')   My Github
        #banner.jumbotron
            .container
                h1 出发了,就别问路在哪
        #content-ar.container
            #show-articles.col-md-9.language-javascript.markdown-body
                include:markdown article.md
                #comments
                    .leave_mes
                        h2 留言板
                        .form
                            label(for='username') 昵称:
                            input(type='text', name='username',id="username")
                            br
                            label(for='email') 邮箱:
                            input(type='text', name='email',id="email")
                            br
                            label     留言:
                            br
                            textarea(id="comment")
                            button(type='button',id="comment-btn") 留言
                    .recent_mes
                        h2 最新评论
            #recent.col-md-3
                #recent-article
                    .list-group
                        h4 最近mark的文章
                        each item,index in links
                            a.list-group-item(href='#{item.link_adr}') #{item.title}
                #recent-mark
                    .wraper
                        .page-header
                            h4 文章分类
                        ul.nav.nav-pills.nav-stacked
                            li.dropdown
                                a.dropdown-toggle
                                    | javascript
                                    span.badge #{javascript.length}
                                ul.dropdown-menu
                                    each item2,index2 in javascript
                                        li
                                            a(href='/readAll?title=#{item2.title}') #{item2.title}
                            li.dropdown
                                a.dropdown-toggle
                                    | nodeJs
                                    span.badge #{nodejs.length}
                                ul.dropdown-menu
                                    each item3,index3 in nodejs
                                        li
                                            a(href='/readAll?title=#{item3.title}') #{item3.title}

                            li.dropdown
                                a.dropdown-toggle
                                    | jQuery
                                    span.badge #{jquery.length}
                                ul.dropdown-menu
                                    each item3,index3 in jquery
                                        li
                                            a(href='/readAll?title=#{item3.title}') #{item3.title}

                            li.dropdown
                                a.dropdown-toggle
                                    | CSS3
                                    span.badge #{css3.length}
                                ul.dropdown-menu
                                    each item3,index3 in css3
                                        li
                                            a(href='/readAll?title=#{item3.title}') #{item3.title}

                            li.dropdown
                                a.dropdown-toggle
                                    | CSS
                                    span.badge #{css.length}
                                ul.dropdown-menu
                                    each item3,index3 in css
                                        li
                                            a(href='/readAll?title=#{item3.title}') #{item3.title}

                            li.dropdown
                                a.dropdown-toggle
                                    | HTML5
                                    span.badge #{html5.length}
                                ul.dropdown-menu
                                    each item3,index3 in html5
                                        li
                                            a(href='/readAll?title=#{item3.title}') #{item3.title}

        script(src="./js/headroom.min.js")
        script(src="./js/recent-mark.js")
        script(src="./js/XMLasynchronous.js")
        script(src="./js/comment.js")